@using ECommerce.Data
@using ECommerce.Models
@model ItemsViewModel

<div class="container">
    <div class="col-md-3">
        <p class="lead"></p>
        <div class="list-group">
            @foreach(Category c in Model.categories)
            {
                <a data-categoryId="@c.Id" href="#" class="list-group-item categories-list">@c.Name</a>
            }
        </div>
    </div>

    <div class="col-md-9 pics">
        <div class="row">
            @foreach (Product p in Model.products)
            {
                <div class="col-sm-4 col-lg-4 col-md-4 " style="height: 200px; width: 250px; ">
                    <div class="thumbnail">
                        <img src="/Images/@p.ImageFile" height="100" width="75" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$@p.Price</h4>
                            <h4>
                                <a href="/home/viewImage?Id=@p.Id">@p.Title</a>
                            </h4>
                            <p>@(p.Description.Length < 70 ? p.Description : p.Description.Substring(0, 70))...</p>
                        </div>
                    </div>
                </div>
            }
        </div>
     </div>
</div>

@section scripts{
    <script src="/Scripts/categories.js"></script>
}